.tos{
  height: 70vh;
  max-width: 85%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  margin: 5rem auto;
}
.tos-contents__wrapper {
  overflow: hidden scroll;
  margin: 2rem 0 1rem 0;
  padding:15px;
  background-color: #F8F9FA;
  border-radius: 5px;
  box-shadow: -4px 0px 22px -6px rgba(0,0,0,0.6) inset;
}

.nest > li {
  list-style: none;
  counter-increment: item;
  position: relative;
}
.nest > li::before {
  content: counters(item, '.') ")  " !important;
  display: inline-block !important;
  position: absolute;
  left:-1.3rem;
}
